h1 {
    border-bottom: 2px solid gold;
    padding-bottom: 5px;
}

.background {
    background-color: rgb(232, 235, 235);
}

.space {
    margin-top: 100px;
    margin-bottom: 50px;
}

.white {
    background-color: white;
}

footer {
    text-align: center;
    color: honeydew;
}

.left50px {
    margin-left: 50px;
}

.right50px {
    margin-left: 50px;
}

.bot50px {
    margin-bottom: 50px;
}